---
layout: base
---

<article id="post__content">
  <h1 id="post__title" data-identifier="{{ page.date | date: "%Y%m%d" }}">{{ page.title }}</h1>
  <div id="post__meta">
    {% if page.date %}
    <span id="icon-clock" class="fontello"> {{ page.date | date: "%Y-%m-%d" }}</span>
    {% endif %}
    {% if page.tags.size > 0 %}
    <span id="icon-tags" class="fontello"> {{ page.tags | join: ', ' }}</span>
    {% endif %}
  </div>
  {{ content }}
</article> <!-- end #post__content -->

{% include share.html %}
{% include utterances.html %}