---
layout: base
---
{% include def.html %}

<article id="post__content">
  <h1 id="post__title" data-identifier="{{ page.date | date: "%Y%m%d" }}">{{ page.title }}</h1>
  <div id="post__meta">
    {% if page.url == "/" %}
    <span id="icon-pie" class="fontello"> 已写:{{ site__page_count }}篇，总字数:{{ site__word_count }}，被访问:<span
        id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv">-</span></span>次</span>
    {% else %}
    <span id="icon-clock" class="fontello"> {{ page.date | date: "%Y-%m-%d" }}</span>
    <span id="icon-tags" class="fontello"> {{ page.tags | join: ', ' }}</span>
    <br>
    <span id="icon-pie" class="fontello"> 字数:{{ page__word_count }} 阅读:<span id="busuanzi_container_page_pv"><span
          id="busuanzi_value_page_pv">-</span></span> 评论:-</span>
    {% endif %}
  </div>
  {{ content }}
</article> <!-- end #post__content -->

{% include share.html %}
{% include utterances.html %}